<div class="content">
  <div class="title">
    <h1>Chamado</h1>
  </div>
  
  <button class="mat-elevation-z8" (click)="navegarParaChamadoCreate()" mat-stroked-button color="primary">Novo chamado</button>
  
  <div class="mat-elevation-z8 content-table">
    <table class="table" mat-table [dataSource]="chamados">
      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <!-- titulo Column -->
      <ng-container matColumnDef="titulo">
        <th mat-header-cell *matHeaderCellDef>Título</th>
        <td mat-cell *matCellDef="let row">{{ row.titulo }}</td>
      </ng-container>

      <!-- status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let row">{{ row.status }}</td>
      </ng-container>

      <!-- descricao Column -->
      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef>Descrição</th>
        <td mat-cell *matCellDef="let row">{{ row.descricao }}</td>
      </ng-container>

      <!-- dataInclusao Column -->
      <ng-container matColumnDef="dataInclusao">
        <th mat-header-cell *matHeaderCellDef>Data Inclusão</th>
        <td mat-cell *matCellDef="let row">{{ row.dataInclusao }}</td>
      </ng-container>

      <!-- dataConclusao Column -->
      <ng-container matColumnDef="dataConclusao">
        <th mat-header-cell *matHeaderCellDef>Data Conclusão</th>
        <td mat-cell *matCellDef="let row">{{ row.dataConclusao }}</td>
      </ng-container>

      <!-- comentarios Column -->
      <ng-container matColumnDef="comentarios">
        <th mat-header-cell *matHeaderCellDef>Comentários</th>
        <td mat-cell *matCellDef="let row">
        <a class="comentarios" routerLink="{{ row.id }}/comentarios" >
          <i class="material-icons comentarios">
            comment
          </i>  
        </a> 
        </td>
      </ng-container>      

      <!-- acoes Column -->
      <ng-container matColumnDef="acoes">
        <th mat-header-cell class="mat-header" *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let row">
          <a class="edit" routerLink="update/{{ row.id }}">
            <i class="material-icons">edit</i>
          </a>
          <a class="delete" routerLink="delete/{{ row.id }}">
            <i class="material-icons">delete</i>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
